.contact {
  min-height: 500px;
  position: relative;
  margin-block: 200px;

  &__wrap {
    display: flex;
    gap: 3rem;
  }

  &__form, &__content {
    flex: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 200px;

    h2 {
      margin-bottom: 2rem;
    }
  }

  &__form {
    background: #F1F3FE;
    box-shadow: 0px 356px 142px rgba(6, 17, 81, 0.01), 0px 22px 49px rgba(6, 17, 81, 0.1), 0px 0px 0px rgba(6, 17, 81, 0.1);
    border-radius: 22px;
    padding: 2rem;

    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .input__group {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input, textarea {
        display: block;
        padding: 1.7rem;
        border: 0;
        border-radius: 8px;
      }
    }

    button {
      background-color: var(--main);
      padding:2rem 5rem;
      color: white;
      border-radius: 8px;
      border: none;
      align-self: flex-start;
    }
  }

  @media screen and (max-width: 768px) {
    &__wrap {
      flex-direction: column-reverse;
      gap: 100px;
    }

    &__content {
      gap: 50px;
    }

    .info {
      flex-direction: column;
    }
  }
}