.navbar {
  width: 100%;
  background: transparent;
  height: 100px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 99;
  transition: all 0.3s ease-in-out;

  &.dark-bg, &.contact-nav {
    background: #111;
    transition: all 0.3s ease-in-out;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 120px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    position: absolute;
    top: 100%;
    right: -100vw;
    height: calc(100vh - 100px);
    width: 100%;
    background: var(--dark);
    z-index: 99;
    padding: 4rem 0;
    transition: all 0.2s ease-in-out;
  }

  &__link {
    color: var(--light);
    text-decoration: none;

    &:last-child {
      padding: 1rem 1.5rem;
      border: 1px solid white;
      border-radius: 20px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: var(--main);
        color: var(--light);
        border: 1px solid var(--main);
      }
    }
  }

  &.active {
    .navbar__links {
      right: 0;
    }
  }

  @media screen and (min-width: $lg) {
    & #navbar__toggler {
      display: none;
    }

    &__links {
      all: unset;
      display: flex;
      align-items: center;
      gap: 4rem;
    }

    &__logo {
      width: 180px;
    }
  }
}
